<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PublicApiApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PublicApiApp.Properties.Settings>
            <setting name="PublicApiApp_ClientService_Client_x0020_Service"
                serializeAs="String">
                <value>https://api.mindbodyonline.com/0_5/ClientService.asmx</value>
            </setting>
            <setting name="PublicApiApp_ClassService_Class_x0020_Service"
                serializeAs="String">
                <value>https://api.mindbodyonline.com/0_5/ClassService.asmx</value>
            </setting>
            <setting name="PublicApiApp_SaleService_Sale_x0020_Service" serializeAs="String">
                <value>https://api.mindbodyonline.com/0_5/SaleService.asmx</value>
            </setting>
        </PublicApiApp.Properties.Settings>
    </applicationSettings>
</configuration>